[Desktop Entry]
Name=movmetaedit-gui.desktop
Encoding=UTF-8
ServiceTypes=video/*
Actions=movmetaedit-gui
X-KDE-Priority=TopLevel

[Desktop Action movmetaedit-gui]
Name=MOV MetaEdit
GenericName=Media Editor
Exec=movmetaedit-gui %u
Icon=movmetaedit
